:root {
  --main-font: "intro_head_rbase";
  --highlight-bg: red;
  --highlight-animation-duration: 4s;
  --main-color: rgb(30, 30, 29);
  --secondary-color: mediumseagreen;
  --button-bg: #4caf50;
  --button-color: white;
  --img-border: indianred;
  --div-border-color: chartreuse;
  --body-width: 100%;
  --body-max-width: 40rem;
  --img-max-width: 40rem;
  --nav-padding: 0.75rem;
  --button-padding: 0.75rem 1.6rem;
  --button-font-size: 0.8rem;
  --button-margin: 0.2rem 0.1rem;
  --button-border-radius: 0.5rem;
  --highlight-width-height: 5rem;
  --h1-text-shadow: 0.25rem 0.25rem 0.5rem indigo;
  --text-spacing-letter-spacing: 0.25rem;
  --p-font-size: 1.5rem;
  --label-color: rgb(255, 0, 144);
  --font-size-large: 1.2rem;
  --font-size-medium: 0.8rem;
  --font-size-small: 0.75rem;
}

@font-face {
  font-family: "alex_brushregular";
  src: url("fonts/alexbrush-regular-webfont.woff2") format("woff2"),
    url("fonts/alexbrush-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fff_tusjbold";
  src: url("fonts/fff_tusj-webfont.woff2") format("woff2"),
    url("fonts/fff_tusj-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "intro_head_rbase";
  src: url("fonts/fontspring-demo-introheadr-base-webfont.woff2")
      format("woff2"),
    url("fonts/fontspring-demo-introheadr-base-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "intro_rust_gbase_2_line";
  src: url("fonts/fontspring-demo-introrustg-base2line-webfont.woff2")
      format("woff2"),
    url("fonts/fontspring-demo-introrustg-base2line-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "seasideresortnfregular";
  src: url("fonts/seasrn__-webfont.woff2") format("woff2"),
    url("fonts/seasrn__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "intro_head_rbase";
  src: url("fonts/introheadr-base-webfont.woff2") format("woff2"),
    url("fonts/introheadr-base-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "intro_script_rh2_base";
  src: url("fonts/introscriptr-h2base-webfont.woff2") format("woff2"),
    url("fonts/introscriptr-h2base-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 20px;
  margin: 0;
}

head {
  font-family: var(--main-font);
}

body {
  width: var(--body-width);
  max-width: var(--body-max-width);
  margin: 0 auto;
}

a {
  color: var(--main-color);
}

img {
  max-width: var(--img-max-width);
  max-height: max-content;
  border: 0.25rem solid var(--img-border);
}

nav {
  box-shadow: 0px 0px 0.75rem currentcolor;
  border: 0.25rem solid currentcolor;
  padding: var(--nav-padding);
  color: var(--secondary-color);
  font-weight: bold;
}

button {
  background-color: var(--button-bg);
  border: rgb(30, 30, 29);
  color: var(--button-color);
  padding: var(--button-padding);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--button-font-size);
  margin: var(--button-margin);
  cursor: pointer;
  border-radius: var(--button-border-radius);
}

div {
  border: 0.1rem dashed var(--div-border-color);
}

.highlight {
  width: var(--highlight-width-height);
  height: var(--highlight-width-height);
  background-color: var(--highlight-bg);
  position: relative;
  animation-name: example;
  animation-duration: var(--highlight-animation-duration);
  animation-iteration-count: 2;
  animation-direction: alternate;
}

h1 {
  font-family: var(--secondary-font);
  font-size: var(--font-size-large);
  font-weight: bold;
  text-shadow: var(--h1-text-shadow);
}

.text-spacing {
  letter-spacing: var(--text-spacing-letter-spacing);
  font-weight: bold;
}

p {
  font-family: var(--quaternary-font), red-serif;
  font-style: bold;
  font-size: var(--p-font-size);
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

.text-spacing {
  letter-spacing: var(--text-spacing-letter-spacing);
  font-weight: bold;
}

h2 {
  font-family: var(--tertiary-font);
  font-size: var(--font-size-large);
  font-weight: bold;
  text-decoration: overline;
}

label {
  font-style: bold;
  color: var(--label-color);
}

section {
  font-weight: bold;
  color: black;
}

.submit-button {
  background-color: #4caf50;
  border: rgb(30, 30, 29);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover {
  background-color: #220426;
}
.button:hover {
  background-color: #220426;
}
#para1 {
  text-align: left;
  color: rgb(19, 143, 239);
}
#para2 {
  text-align: left;
  color: rgb(245, 144, 12);
}

h3 {
  font-family: "fff_tusjbold";
  font-size: 24px;
  font-weight: bold;
  color: midnightblue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#grad {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

#background {
  border: 10px dotted black;
  padding: 35px;
  background: yellow;
  background-clip: content-box;
}
#background1 {
  background-image: url(Images/night.gif), url(Images/music.gif),
    url(Images/purple_image.png);
  background-position: right top, left top, left top;
  background-repeat: no-repeat, no-repeat, repeat;
}
ul {
  border: inherit;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  display: inline;
  margin-right: 1rem; /* Adds some space between the menu items */
}

nav li a {
  text-decoration: underline;
  color: var(--main-color);
  padding: var(--nav-padding);
  display: inline-block;
}

nav li a.active {
  color: var(--secondary-color);
  font-weight: bold;
}
