@font-face {
    font-family: 'alex_brushregular';
    src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fff_tusjbold';
    src: url('fonts/fff_tusj-webfont.woff2') format('woff2'),
         url('fonts/fff_tusj-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'intro_head_rbase';
    src: url('fonts/fontspring-demo-introheadr-base-webfont.woff2') format('woff2'),
         url('fonts/fontspring-demo-introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'intro_rust_gbase_2_line';
    src: url('fonts/fontspring-demo-introrustg-base2line-webfont.woff2') format('woff2'),
         url('fonts/fontspring-demo-introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'seasideresortnfregular';
    src: url('fonts/seasrn__-webfont.woff2') format('woff2'),
         url('fonts/seasrn__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'intro_head_rbase';
    src: url('fonts/introheadr-base-webfont.woff2') format('woff2'),
         url('fonts/introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'intro_script_rh2_base';
    src: url('fonts/introscriptr-h2base-webfont.woff2') format('woff2'),
         url('fonts/introscriptr-h2base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* General setup */

html {
    font-size: 20px;
    margin: 0;
  
}
  head {
    font-size: 20px;
    font-family: "intro_head_rbase";
  }
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  a {
    color: rgb(30, 30, 29);
  }
img {
    max-width: 800px;
    max-height: max-content;
    border: 5px solid indianred;
  }
  nav {
    box-shadow: 0px 0px 15px currentcolor;
  border: 5px solid currentcolor;
  padding: 15px;
  color:mediumseagreen;
  font-weight: bold;

  }

  ul{
      border: inherit;
  }
  
  div {
    border: 2px dashed chartreuse;

  }
  .highlight {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  
  /* The element to apply the animation to */
  
  h1 {
    font-family: "intro_rust_gbase_2_line";
    font-size: 24px;
    font-weight: bold;
    text-shadow: 5px 5px 10px indigo;
    
  }
  .text-spacing{
    letter-spacing: 5px;
    font-weight: bold;
  }
  h2 {
    font-family: "seasideresortnfregular";
    font-size: 24px;
    font-weight: bold;
    text-decoration: overline;
  }
  p {
    font-family: "alex_brushregular", red-serif;
    font-style: bold;
    font-size: 30px;
  }
  section {
    font-weight: bold;
    color: black;
  }
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  label {
    font-style: bold;

    color:rgb(255, 0, 144)
  }
  .submit-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 4px; /* Rounded corners */
}

.submit-button:hover {
    background-color: #220426; /* purple background on hover */
}
#para1 {
  text-align: left;
  color: rgb(19, 143, 239);
}
#para2 {
    text-align: left;
    color: rgb(245, 144, 12);
  }
  
  h3{
    font-family: "fff_tusjbold";
    font-size: 24px;
    font-weight: bold;
    color: midnightblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  #grad {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  }

  #background {
        border: 10px dotted black;
        padding: 35px;
        background: yellow;
        background-clip: content-box;
      }
  #background1 {
    background-image: url(Images/night.gif), url(Images/music.gif), url(Images/purple_image.png);
    background-position: right top, left top, left top;
  background-repeat: no-repeat, no-repeat, repeat;
  }